<!DOCTYPE html>
<html lang="en">

<head>
    <title>Murmel Camera Service</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/murmel.png">
</head>

<body stlye = "height:400px"> 
<h3 style="text-align:center"> MURMEL Video Streaming Service</h3>
<br>

<label for="">Navigate to the camera access of Robot 1:</label>

<a href="/camera_service/robot1" ><button>press</button></a>

<br><br>

<label for="">Navigate to the camera access of  Robot 2:</label> 

<a href="/camera_service/robot2" ><button>press</button></a>


</body>


</html>
