<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="static/murmel.png">
</head>

<body stlye = "height:400px"> 
    <h3 style="text-align:center" > MURMEL Route Configuration Service</h3>
    <h3 style="text-align:left" > Robot1 </h3>



<form method="get" action="/route_service/response/robot1">      
  
        <legend style>Request a new route by choosing the constrains</legend> 
        <ol>
            <li> choose dustbins to be skipped
                <ul>
                    <li><input type="checkbox" name="dustbin_sel" value="0">Dustbin 1<br> </li>
                    <li><input type="checkbox" name="dustbin_sel" value="0">Dustbin 2<br> </li>
                    <li><input type="checkbox" name="dustbin_sel" value="0">Dustbin 3<br> </li>
                    <li><input type="checkbox" name="dustbin_sel" value="0">Dustbin 4<br> </li>
                    <li><input type="checkbox" name="dustbin_sel" value="0">Dustbin 5<br> </li>
                </ul>
            </li>
            <br>
            <li> Task Termination
                <ul>
                    <li><input type="checkbox" name="dustbin_sel" value="0">Terminate task and head to mothership<br> </li>
                </ul>
            </li>
            <br>
            <li> Choose Streets to be skipped
                <ul>
                    <li><input type="checkbox" name="dustbin_sel" value="0">Müller Straße<br> </li>
                    <li><input type="checkbox" name="dustbin_sel" value="0">Trift Straße<br> </li>
                </ul>
            </li>

        </ol>

        

        <br>      
        <input type="hidden" name="form_name" value="robot1">
        <input type="submit" value="Request route" />      
        
 
</form>


<h3>Upload file to Robot</h3>
<form action="/route_service/response/robot1">
  <input type="file" id="myFile" name="filename">
   <input type="hidden" name="form_name" value="robot1_file">
  <input type="submit">
</form>

<br><br>
<a href="/" ><button>Main Menu</button></a>


</body>


</html>
